<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-color: antiquewhite;
        text-align: center;
    }

    .x {
        background-color: red;
        color: white;
    }

    h2 {
        background-color: blue;
        color: white;
        padding: 12px;
        border-radius: 6px;
    }
</style>

<body>
    <h1>本期大樂透預測號碼:</h1>
    <h2>{{lottorynum}} 特別號:
        <span class="x">
            {{x}}
        </span>
    </h2>
    <buttononclick></buttononclick>

    </button>
</body>

</html>